<div id="banner">
    <i class="fas fa-camera fa-2x"></i>
    <span id="banner-text">Cody Huang's Photo App</span>
</div>
<header class="nav">
    <nav id="nav-bar">
        <ul class="nav_links">
            <a href="/"><button>home</button></a>
            {{#if logged}}
            {{else}}
            <a href="/registration"><button>Registration</button></a>
            {{/if}} 
            <a href="/imagepost"><button>Imagepost</button></a>
            <a href="/postimage"><button>Postimage</button></a>
        </ul>
    </nav>
    <div>
    <input id="search-bar" type=text/>
    <a class="cta" href="#"><button id="search-button">Search</button></a>
    </div>
    {{#if logged}}
    <a id="logoutButton"><button>Log Out</button></a>
    {{else}}
    <a href="Login"><button>Log In</button></a>
    {{/if}}
</header>