<div id="banner">
    <i class="fas fa-camera fa-5x"></i>
    <span id="banner-text">Cody Huang's Photo App</span>
</div>
<br>
<div class="nav-bar">
    <ul>
        <a href="/">home</a>
        <a href="login">login</a>
        <a href="registration">registration</a>
        <a href="imagepost">imagepost</a>
        <a href="postimage">postimage</a>
    </ul>
</div>