<div class="flexbox-container">
    <header class="flexbox-item content-header">
        <h1>View posted images</h1>
    </header>

    <div class="flexbox-item body-content">
        <section class="title">Title</section>
        <section id="image">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/761597617755839319/953D519B10EC61B89C6386E8F96A639889A3B7A9/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"
                alt="This was a fake image">
        </section>
    </div>
    <footer class="flexbox-item">
        <section id="author">Author</section>
        <section id="creationTime">Creation time</section>
    </footer>

</div>