<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/flex.css">
    <title>Imagepost</title>
</head>
<body>
    <div class="flexbox-container">
        <header class="flexbox-item content-header">
            <h1>View posted images</h1>
        </header>
        <div class="flexbox-item1">
            <a href="/">home</a>
            <a href="login">login</a>
            <a href="registration">registration</a>
            <a href="imagepost">imagepost</a>
            <a href="postimage">postimage</a>
        </div>
        <div class="flexbox-item body-content">
            <section class="title">Title</section>
            <section id="image">
                <img src="https://steamuserimages-a.akamaihd.net/ugc/761597617755839319/953D519B10EC61B89C6386E8F96A639889A3B7A9/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="This was a fake image">
            </section>
        </div>    
            <footer class="flexbox-item">
                <section id="author">Author</section>
                <section id="creationTime">Creation time</section>
            </footer>
        
    </div>
</body>
</html>