<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="../css/home.css">
        <script defer src="../js/home.js"></script>
    </head>
    <body>
        <div class="flexbox-item1">
            <a href="/">home</a>
            <a href="login">login</a>
            <a href="registration">registration</a>
            <a href="imagepost">imagepost</a>
            <a href="postimage">postimage</a>
        </div>
        <h1 id="items-count">
        </h1>
        <div id="container">
        </div>
    </body>
</html>gi