<header>
    <h1>Login Form</h1>
</header>

<div class="content">
    <form id="login-form">
        <fieldset>
            <div class="input-box">
                <span for="username" class="txt-label">Username</span>
                <input id="username" class="txt-label" type=text placeholder="Username" required />
            </div>
            <div class="input-box">
                <span class="txt-label" for="passwd">Password</span>
                <input id="passwd" type=password placeholder="Password" required>
            </div>
            <div class="button">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </fieldset>
    </form>
</div>