<header>
    <h1>Upload images</h1>
</header>
<form>
    <fieldset>
        <label>Post title</label>
        <input type="text" />
        <br />
        <label>Post description</label>
        <input type="text" />
        <br />
        <label>Insert image</label>
        <input type="file" />
    </fieldset>
    <input type="checkbox" id="TOS">
    <a href="TOS">Accept Use Policy for uploading images</a>
    <br />
    <div class="flex-row">
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>