<header>
    <h1>Upload images</h1>
</header>

<div class="content">
    <form id="post-form" method="POST" enctype="multipart/form-data" action='/posts/createPost'>
        <fieldset>
            <label>Post title</label>
            <input type="text" name="title" />
            <br />
            <label>Post description</label>
            <input type="text" name="description"/>
            <br />
            <label>Insert image</label>
            <input type="file" name="uploadImage" required />
        </fieldset>
        <input type="checkbox" id="TOS">
        <a href="TOS">Accept Use Policy for uploading images</a>
        <br />
        <div class="flex-row">
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </form>
</div>