<header>
    <h1>Registration Form</h1>
</header>
<script defer src="/public/js/scratch.js"></script>
<div class="content">
    <form method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
        <fieldset>
            <div class="input-box">
                <label>Enter Username:</label>
                <input id="username" type="text" required name="username" />
            </div>
            <div class="input-box">
                <label>Enter email:</label>
                <input id="email" name="email" required/>
            </div>
            <div class="input-box">
                <label>Enter password:</label>
                <input id="password" type="password" name="password" required/>
            </div>
            <div class="input-box">
                <label>Confirm password:</label>
                <input id="passConfirm" type="password" name="cpassword" required/>
            </div>
            <div class="input-box">
                <br>
                <input type="checkbox" id="yes" name="age" value="yes" required>
                <label for="yes">I am over 13</label><br>
            </div>
            <div class="input-box">
                <input type="checkbox" id="TOS" required>
                <a href="TOS">TOS and Privacy Rules</a>
            </div>
            <div class="input-box">
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
            <div id="error"></div>
            <div id="submitConfirm"></div>
        </fieldset>
    </form>
</div>
